html,
body {
  background-color: #1e2125;
  color: #fff;
  font-family: "Poppins", "Sarabun", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.swal2-container {
  z-index: 9999 !important;
}
